@import url('https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,700&family=Urbanist:wght@700&display=swap');

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Urbanist, Helvetica, sans-serif;
    line-height: 1.6;
}
header nav a.active {
    border-bottom: 2px solid white;
}

header {
    background: #AACCFF;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

header nav a {
    font-size: 15px;
    font-family: "Texturina";
    text-decoration: none;
    color: black;
    margin-right: 80px;
    padding: 10px;
    position: relative;
}

header nav a:hover {
    background-color: #f7f7f7;
    color: #F7811F;
    border-radius: 10px;
}
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


.logo {
    max-width: 100px;
    height: auto;
}

main {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "Texturina";
}

main p {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px var(--shadow-color);
}

.gallery-item p {
    margin-top: 10px;
    font-size: 15px;
}

.text {
    text-align: justify;
    margin-left: 20px;
    padding: 10px;
}

footer {
    background-color: #AACCFF;
    color: #000;
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

footer nav {
    display: flex;
    margin-right: auto;
}

footer nav a {
    text-decoration: none;
    color: #000;
    position: relative;
    padding: 10px;
    font-size: 15px;
    font-family: "Texturina";
}

footer nav a:hover {
    background-color: #f7f7f7;
    color: #F7811F;
    border-radius: 10px;
}

footer p {
    margin: 5px 0;
    flex-grow: 1;
    text-align: center;
    font-size: 15px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-left: 10px;
}

@media (max-width: 768px) {
 
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    header nav.open {
        display: flex;
    }

    header nav a {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        justify-content: end;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    footer nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    footer nav a {
        margin: 5px 0;
        text-align: center;
        width: 100%;
    }

    footer p {
        width: 100%;
        text-align: center;
    }

    .social-media {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .social-media a {
        margin: 0 5px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-item img {
        height: auto;
        width: 100%; /* Ensure the images take full width in single column */
    }

    .gallery-item p {
        font-size: 1rem;
    }

    main h1 {
        font-size: 2rem;
    }

    main p {
        font-size: 1rem;
    }
}