/* body{
    display:grid;
    grid-template: auto auto 1fr auto / 1fr auto;
}

header{
    background-color: #A9A9A9;
    padding:2em;
    grid-template-columns: 1/5;
} */

body {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr auto / 1500px auto;
  }

  .modern a {
	flex: 1 1 100%;
}

.navigation {
    padding: 2rem;
    background-color: black;
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
    grid-column: 1/5;
}

  nav a{
    color:white;
  }
  
  header {
    background: #3b3b3b;
    color:white;
    padding: 2rem;
    grid-column: 1 / 5;
  }
  
  main {
    font-size: 20px;
    background: #B1B4B5;
    grid-column: 1 / 2;
  }

  main p{
    margin-left: 25px;
    font-size: 30px;
  }
  
  .Aside-content {
    grid-column: 3 / 4;
    background: White;
    padding: 1rem;
  }

  .Aside-content p {
    font-size: 30px;
  }
  
  footer {
    background: #3b3b3b;
    padding: 8rem;
    grid-column: 1/5;
    grid-row: 4/ 5;
  }

  footer p{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  